includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/

    # Nivel 0: Solo errores críticos
    level: 0

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Relation .* is not found#'
        - '#PHPDoc type .* is not covariant#'